html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
  font-family: 'Poppins', sans-serif;
  background-color: var(--cor-background);
  color: var(--cor-texto);
  font-size: var(--font-size-texto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
