.formulario__area {
  padding: 50px;
  background-color: var(--cor-background);
  box-shadow: var(--sombra-padrao);
  border-radius: 20px;
}

.formulario__titulo {
  font-weight: bold;
}
.formulario__sub {
  padding-bottom: 10px;
}

.formulario__erros,
.formulario__alertas {
  padding-left: 0px;
  margin: 0;
  list-style: none;
}

.formulario__observacao {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}

.formulario__alerta--sucesso,
.formulario__alerta--erro {
  background-color: transparent;
  color: var(--cor-texto-inverso);
  box-shadow: var(--sombra-pequena);
  border-radius: 10px;
  border-color: transparent;
  margin-bottom: 20px;
}

.formulario__alerta--sucesso {
  background-color: var(--cor-destaque);
}

.formulario__alerta--erro {
  background-color: var(--cor-perigo);
}

#formulario__enviar {
  margin-top: 15px;
  width: 100%;
}

@media (max-width: 520px){
  .formulario__area {
    padding: 50px 20px;
    background-color: var(--cor-background);
    box-shadow: var(--sombra-padrao);
    border-radius: 20px;
  }
}